{{define "layout"}}<!DOCTYPE html>
<head>
  {{with .Header}}
  <title>{{.Title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="QDo">
  <link rel=stylesheet type=text/css href="/static/normalize.css">
  <link rel=stylesheet type=text/css href="/static/fonts.min.css">
  <link rel=stylesheet type=text/css href="/static/style.css">
  {{end}}
</head>
<body>
  <header></header>
  <nav>
    <div class="top">
      <a href="/">QDo</a>
    </div>
    <ul class="site-nav">
      <li><a href="/" class="active"><i class="fa fa-circle-o-notch"></i></a></li>
    </ul>
    <div class="bottom"></div>
  </nav>
  <main>
    {{template "top" .}}
    {{template "main" .}}
  </main>
  <footer></footer>
</body>
</html>{{end}}
