{{define "main"}}
<div class="content view-queue">
  <h1 class="title"><a href="/queue/{{.Result.Q.ID}}">Queue: {{.Result.Q.ID}}</a></h1>
  <div class="section">
    <div class="seen"><span>{{.Result.Stats.TotalReceived}}</span> tasks received</div>
    <div class="chart-wrapper chart-status">
      <div class="section-label">STATUS</div>
      <div class="chart">
        <div class="bar-wrapper">
          <div class="in-queue bar bar-left" style="width:{{.Result.ChartInQueuePct}}%"></div>
          <div class="scheduled bar bar-right" style="width:{{.Result.ChartScheduledPct}}%"></div>
        </div>
        <table class="label">
          <tr>
            <td width="45%">{{.Result.Stats.InQueue}} in queue</td>
            <td width="10%">- / -</td>
            <td width="45%">{{.Result.Stats.InScheduled}} scheduled</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="chart-wrapper chart-results">
      <div class="section-label">RESULTS</div>
      <div class="chart">
        <div class="bar-wrapper">
          <div class="processed-ok bar bar-left" style="width:{{.Result.ChartSucceededPct}}%"></div>
          <div class="processed-error bar bar-right" style="width:{{.Result.ChartErrorPct}}%"></div>
        </div>
        <table class="label">
          <tr>
            <td width="45%">{{.Result.Stats.TotalProcessedOK}} succeeded</td>
            <td width="10%">- / -</td>
            <td width="45%">{{.Result.Stats.TotalProcessedError}} error</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="config section">
    <div class="section-label">CONFIGURATION</div>
    <table>
      <tr>
        <th>Max rate</th>
        <th>Max concurrent</th>
        <th>Max tries</th>
        <th>Task timeout</th>
      </tr>
      <tr>
        <td>{{.Result.Q.Config.MaxRate}}<span class="unit">/s</span></td>
        <td>{{.Result.Q.Config.MaxConcurrent}}</td>
        <td>{{.Result.Q.Config.TaskMaxTries}}</td>
        <td>{{.Result.Q.Config.TaskTimeout}}<span class="unit">/s</span></td>
      </tr>
    </table>
  </div>
  <div class="performance section">
    <div class="section-label">PERFORMANCE</div>
    <div>
      <table>
        <tr>
          <th></th>
          <th>50th percentile</th>
          <th>90th percentile</th>
          <th>99th percentile</th>
        </tr>
        <tr>
        <td><div class="sub-section-label">Adding</div></td>
        <td><span class="value">{{.Result.AddPerc50}}</span>ms</td>
        <td><span class="value">{{.Result.AddPerc90}}</span>ms</td>
        <td><span class="value">{{.Result.AddPerc99}}</span>ms</td>
      </tr>
      </table>
    </div>
    <div>
      <table>
        <tr>
          <td><div class="sub-section-label">Processing</div></td>
          <td><span class="value">{{.Result.ProcessingPerc50}}</span>ms</td>
          <td><span class="value">{{.Result.ProcessingPerc90}}</span>ms</td>
          <td><span class="value">{{.Result.ProcessingPerc99}}</span>ms</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="tasks queue">
    <div class="tabs">
      <a href="/queue/{{.Result.Q.ID}}"{{if eq .Result.Type ""}} class="active"{{end}}>In queue</a>
      <a href="/queue/{{.Result.Q.ID}}/scheduled"{{if eq .Result.Type "scheduled"}} class="active"{{end}}>Scheduled</a>
      <div class="clear"></div>
    </div>
    <table>
      <thead>
        <tr>
          <th>Task ID</th>
          <th>Target</th>
          <th>Tries</th>
          <th>Delay</th>
        </tr>
      </thead>
      <tbody>
      {{ range .Result.Tasks }}
        <tr>
          <td>{{ShortID .ID}}</td>
          <td>{{.Target}}</td>
          <td>{{.Tries}}</td>
          <td>{{.Delay}}</td>
        </tr>
      {{ end }}
      </tbody>
    </table>
  </div>
</div>
{{end}}
